@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Condensed&display=swap');

.hide {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: black;
}


body {
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
}

section.modal-cad {
    width: 450px;
    height: 793px;
    background: linear-gradient(150deg, #efa144, #242424 100%);
    border-radius: 10px;
    float: right;
    margin-right: 100%;
    text-align: center;
    padding: 1em ;
}

form#userRegister {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

div.inputs-cad {
    margin: 1em 0em;
}

div.inputs-cad input {
    padding: 0.5em 1em;
    width: 100%;
    border-radius: 5px;
    border: 1px transparent;
    outline: 0;
}


img.cpf-success.hide, img.cpf-err{
    position: absolute;
    right: 29.5em;
    top: 8.05em;
}

img.name-success, img.name-err {
    position: absolute;
    top: 11.8em;
    right: 29.5em;
}

img.email-success, img.email-err {
    position: absolute;
    top: 15.58em;
    right: 29.5em;
}

img.fone-success, img.fone-err {
    position: absolute;
    top: 19.4em;
    right: 29.5em;
}

img.nick-success, img.nick-err {
    position: absolute;
    top: 23.1em;
    right: 29.5em;
}

password_rules ul li {
    color: #fff;
}
#password_rules ul li.complete {
    color: #1e1e1e;
}
span.togglePassword {
    color: gray;
    font-size: 12px;
    cursor: pointer;
}

div#password_rules {
    position: relative;
    left: 0em;
    top: -1.5em;
    color: #fdf7e9;
    text-align: justify;
}

input#recipient-pwConf {
    position: relative;
    bottom: 2em;
}

input[type="password"]::-ms-reveal {
    display: none;
}

.toggle {
    background: none;
    border: none;
    color: #1f1f1f;
    font-weight: 600;
    position: relative;
    right: -13.5em;
    bottom: 2em;
    z-index: 9;
}

img#eyeIconHide {
    width: 1.8em;
    position: relative;
    right: 0em;
    bottom: 0em;
    color: #1f1f1f;
}

.fa {
    font-size: 1.5rem;
}

input#recipient-fone {
    margin: 0.8em auto;
    width: 137%;
    border-radius: 5px;
    margin-left: 0em;
    outline: none!important;
    box-shadow: 0 0 0 0;
    outline: 0;
}

input:-internal-autofill-selected {
    background-color: none;
}

.iti {
    position: relative;
    display:block;
    width: 73%;
}

ul#iti-0__country-listbox {
    width: 19em;
    overflow-x: hidden;
}

.swal-modal {
    width: 30%;
    opacity: 0;
    pointer-events: none;
    background-color: #efa144;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

.swal-icon--warning {
    border-color: #1f1f1f!important;
    -webkit-animation: pulseWarning .75s infinite alternate;
    animation: pulseWarning .75s infinite alternate;
}

.swal-icon--warning__body, .swal-icon--warning__dot {
    position: absolute;
    left: 50%;
    background-color: #1f1f1f!important;
}

.swal-title {
    color: #fdf7e9;
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 27px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

.swal-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    color: #fdf7e9;
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.swal-button {
    background-color: #1f1f1f;
    color: #fff;
    border: none!important;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

.swal-button:hover {
    background-color: #535353!important;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

div#inputCod {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

input.inputs {
    width: 5em;
    padding: 1em;
    outline: 0;
    text-align: center;
    border-radius: 10px;
}

.modal-header {
    margin: 3em 0em;
}

.component-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download-title {
    text-align: justify;
    padding: .5em;
    color: #fdf7e9;
}

figure.hr-img {
    margin-top: 2em;
}

figure.img-app {
    width: 449px;
    margin-top: 4em;
}

figure.img-app img {
    width: 100%;
}

.download-content {
    display: flex;
    gap: 1em;
    margin-top: 5em;
}

.download-content a {
    width: 110px;
}

.download-content a img {
    width: 100%;
}

.cookies-container.white_box.hide {
    background-color: #d9933f;
    padding: 1em;
    border-radius: 10px;
}

.cookies-container.white_box.hide a {
    color: #000;
}

button#saveCookies, button#rejCookies {
    background-color: #000;
    color: #d9933f;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button#saveCookies:hover, button#rejCookies:hover {
    background-color: rgb(53, 53, 53);
    color: #d9933f;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.modal-cook {
    position: fixed;
    z-index: 1;
    /* width: calc(100% - 100px); */
    left: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    background: RGB(0,0,0,0.5);

}

@media only screen and (max-width: 1441px) {
    main {
        margin: auto;
    }

    section.modal-cad {
        float: right;
        margin-right: -58%;
    }
}

@media only screen and (max-width: 927px) {
    main {
        margin: auto;
    }

    section.modal-cad {
        float: none;
        margin-right: 0%;
    }
}

@media only screen and (max-width: 769px) {
    .cookies-container{
        width: 100%!important;
        left: 0px!important;
    }
}

@media only screen and (max-width: 467px) {
    main {
        margin: auto;
    }

    section.modal-cad {
        width: 400px;
    }

    figure.img-app {
        width: 401px;
    }

    .toggle {
        right: -12.5em;
    }

    .cookies-content{
        flex-direction: column;
        gap: 1.5em;
    }
}

@media only screen and (max-width: 394px) {
    section.modal-cad {
        width: 385px;
    }

    .toggle {
        right: -11.8em;
    }

    .animated-button1 {
        margin-top: 1em!important;
    }

    div#password_rules {
        font-size: 15px;
    }
}

@media only screen and (max-width: 376px) {
    section.modal-cad {
        width: 372px;
        height: 660px;
    }

    .download-title {
        font-size: 15px;
    }

    figure.img-app {
        width: 373px;
    }

    .toggle {
        right: -11.5em;
    }

    .animated-button1 {
        margin-top: 0em!important;
    }

    div#password_rules {
        bottom: 2em!important;
        font-size: 15px;
    }

    div.inputs-cad {
        margin: 0.7em 0em;
    }
}

@media only screen and (max-width: 361px){
    section.modal-cad {
        width: 357px;
        height: 710px;
    }

    .toggle {
        right: -10.8em;
    }

    .download-content a {
        width: 107px;
    }
}

@media only screen and (max-width: 321px) {
    section.modal-cad {
        width: 318px;
    }

    .animated-button1 {
        font-size: 16px!important;
    }

    figure.img-app {
        width: 318px;
    }

    .download-content a {
        width: 93px;
    }

    .toggle {
        right: -9.2em;
    }
}